body{
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: 580;
}

nav a{
	font-size: 25px;
	color: black;
	float: left;
}

nav a:hover{
	color: pink;
}

a{
	 text-decoration:none;
	 color: teal;
}

a:hover{
	color: grey;
}

.bannerimage{
  position: relative;
  width: 100%;
  margin: 10px 0px 0px 0px;
  display: block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container{
	width: 50%;
	margin: auto;
	min-width: 400px;
}

.box-1 h1{
	font-style: strong;
	color:grey;
}
