body{
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: 580;
}

nav a{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	color: white;
	float: left;
	padding: 10px;
	background-color: #322D3A;
}

nav a:hover{
	color: #C6C6C6;
	background-color: #3C3344;
}

a{
	 text-decoration:none;
	 color: teal;
}

a:hover{
	color: grey;
}

.bannerimage{
  position: relative;
  width: 100%;
  height: 310px;
  margin: 10px 0px 0px 0px;
  min-height: 100%;
  display: block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding-top: 0px;
}

.container{
	width: 50%;
	margin: auto;
	min-width: 400px;
}

.box-1 h1{
	font-style: strong;
	color:grey;
}
