body{
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 19px;
  background-image: url("../images/page-banner.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 1300px 350px;
}

.nav-bar a{
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  color: #CCF0F5;
}

.bannerimage{
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0px;
  min-height: 100%;
  display: block;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  padding-top: 0px;
  background-size: 100% 100%;
}

.nav-icon{
  display: block;
  text-align: center;
  top:65px;
  bottom: 0px;
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  width: 140px;
  height: 140px;
  margin: auto;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  padding-top: 0px;	
}

.nav-name{
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 23px;
}

.nav-list{
  position: absolute;
  top:11px;
  right: 15px;
  font-size: 18px;
}

nav ul{
  margin:0px;
  padding: 0px;
}
nav li{
  margin-left: 30px;
  display: inline-block;
}

.nav-bar a:hover{
  color: #A7ECF5;
  -webkit-transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -o-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}

.banner-name{
  text-align: center;
  line-height: 40px;
}

.banner-name .main-name{
  color: white;
  font-size: 55px;
  margin-top: 85px;
  margin-bottom: 0px;
}

.banner-name a{
  color: white;
}

.banner-name .below-name{
  color: #CCF0F5;
  font-size: 35px;
  margin-top: 0px;
  padding-top: 0px;
}

.social-icons{
	display: inline-block;
	position: absolute;
	font-size: 10px;
	top: 290px;
	right: 15px;
}

.social-icons i {
  padding: 12px;
  transition: all ease-in-out 150ms;
}

.social-icons a:nth-child(1) {
  color: #dd4b39;
  font-size: 30px;
}

.social-icons a:nth-child(2) {
  color: #4867AA;
}

.social-icons a:nth-child(3) {
  color: white;
}

a{
   text-decoration:none;
}

.container{
  width: 50%;
  margin: auto;
  min-width: 400px;
  margin-bottom: 80px;
}

.box-1 a{
  color: teal ;
  font-family: 'PT Serif', serif;
  font-size: 19px;
}

.box-1 a:hover{
  color: #156060;
}

.box-1 p{
	line-height: 25px;
	font-weight: lighter;
}

.box-1 h1{
  font-size: 35px;
  color:grey;
  margin-top: 65px;
  margin-bottom: 20px;
}

footer {
  font-size: 12px;
  color: #BBBBBB;
  margin-left: 15px;
}
as
